* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px 20px 50px 20px;
}

.sidebar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.sidebar {
    padding: 0 20px 20px 20px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px 0;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 15px;
}

.sidebar li {
    padding: 5px 0;
}

.size-options,
.color-options,
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.size-options div,
.tags div {
    padding: 8px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.color-options div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.product-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 39px;
}

.product {
    flex: calc(30.33%);
    padding: 15px;
    border: 1px solid #ddd;
    text-align: start;
    position: relative;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.sale {
    position: absolute;
    width: 100px;
    text-align: center;
    top: 10px;
    left: 0px;
    color: #fff;
    background-color: #000;
}

h4,
p {
    padding-bottom: 12px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    /* margin-bottom: 15px; */
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.search-container i {
    color: gray;
}

.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
}